<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Lancement d'un nouveau projet</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Sauvegarder</button>
                <button class="btn btn-sm btn-outline-secondary">Annuler</button>
              </div>
              
            </div>
          </div>
			<form>
			  <div class="form-row">
				<div class="col-4">
				 <label for="inputState">Nom du projet</label>
				  <input type="text" class="form-control" placeholder="City">
				</div>
				<div class="col-4">
				  <label for="inputState">Client <a href=''>(nouveau client)</a></label>
				  <select id="inputState" class="form-control">
					<option selected>Choisissez...</option>
					<option>[001] Jean Dupont</option>
					<option>[001] Jean Dupont</option>
					<option>[001] Jean Dupont</option>
				  </select>
				</div>
				<div class="col-4">
					<label for="inputState">Référence</label>
				  <input type="text" class="form-control" placeholder="__Mad_Bois-00108201803" disabled>
				</div>
			  </div>
			</form>
		<br >
		
		<div class="p-3 mb-2 bg-light text-dark">
		<label for="inputState">Sélectionnez un produit existant <a href=''>(nouveau produit)</a></label>
		<select class="form-control">
			<option>Choisissez...</option>
			<option selected>Produit_01339_Bois</option>
		</select>
		</div>
		<br >
		<div class="row">
		  <div class="col-sm-4">
		  <div class="card" >
		  <div class="card-body">
			  <h5>Produit_01339_Bois</h5><ul>
				
				<li>Gamme
					<ul>
						<li>Modèle de gamme</li>
					</ul>
				</li>
				<li>Coupe de principe</li>
				<li>Module Optionnel 1</li>
				<li>Section</li>
				<li>Longueur</li>
				 <ul>
					<li>Angle
					 <ul>
						<li>Angle 1</li>
						<li>Angle 2</li>
					</ul>
					</li>
						
				 </ul>
				</ul>
		  </div>
		  </div>
		  </div>
		  <div class="col-sm-8">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">Configuration</h5>
				<p class="card-text">Chargement en cours...</p>
			  </div>
			</div>
		  </div>
		</div>